@import 'vars';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--light;
  background: url("../images/viajeros.jpg");
  background-size: 100%;
  padding-top: 5rem;
}

#map {
  height: 100%;
}

h2{
  color: $blue;
}

.logo-color{
  color: #336699;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 3px 4px #888;
  background: rgba(241, 248, 242, 0.6);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

blockquote{
  color: darkblue;
}